body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(80, 77, 77);
}
.container{
    background: rgb(212, 191, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    border-radius: 3px;
}
.displayCont{
    display:flex;
    width: 240px;
    height: 50px;
    background: black;
    color: red;
    font-size: 30px;
    align-items: end;
    justify-content: end;
    border-radius: 3px;
}

.display{
    margin: 5px 5px 15px 5px;
    font-family: "digital";
}

.numberCont{
    display: flex;
    flex-direction: column;
    background: black;
    margin: 10px 10px 0px 10px;
    border-radius: 3px;
}
.row{
    display: flex;
}

.zero{
}

#equals{
}

#clear{

}

.numberButton{
    height: 50px;
    width: 50px;
}
.zero, #equals{
    flex-basis: 34%;
}

#equals{
    background: orange;
}
button{
    margin: 5px;
    border-radius: 3px;
    border: none;
    font-family: "roboto";
}

#clearEverything, #divide, #multiply, #clear, #subtract, #add{
    background: rgb(212, 191, 133);
}